# =========================
# Java
# =========================
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

# =========================
# Maven
# =========================
target/

# =========================
# IDE Files
# =========================
.idea/
*.iml

.project
.classpath
.settings/

# VS Code
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Local Configuration
# =========================
.env
application-local.properties
application-dev.properties